body{
    background-color: #f0ead6;
    margin: 0;
    align-content: center;
    text-align: center;
}
.content{
    margin: 0em 8em 0em 8em;
}
div{
    color: #363636;
}
p, h1{
    font-family: Arial, Helvetica, sans-serif;
}
header, footer{
    text-align: center;
}
footer{
    background-color: #a2997a;
    font-weight: 100;
    padding: 15px 0px 15px;
    margin-top: 50px;
    position: relative;
}
img{
    border-radius: 25px;
    width: 300px;
}
#my-pic{
    border-radius: 50%;
}
 ul{
    list-style: none;

}
li{
    font-size: 20px;
    
}
button{
    margin-top: 20px;
}
.flexcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.col{
    padding: 10px;
}
h3{
    margin-top: 5px;
}
#vacayInfo{
    margin: 0em 8em 0em 8em;
}